html{
	scroll-behavior: smooth;
	scroll-padding-top: 120px;
}

a {
  text-decoration: none;
}

/*=====================================================
 @ ~1920px
=====================================================*/
.wrap {
  padding-top: 100px;
}

.wrap .wrap-img {
  width: 100%;
  padding: 10px 30px;
  border: 10px solid #e69c81;
  border-radius: 10px;
  background-color: #c7e3ee;
}

.wrap .wrap-img .feature-link-wrap {
  margin-bottom: 30px;
  padding: 10px;
  border: 5px solid #e69c81;
  border-radius: 10px;
}

.wrap .wrap-img .feature-link-wrap .feature-link-grid {
  margin-top: 10px;
}

.wrap .wrap-img .feature-link-wrap .feature-link-grid.pc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
      grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 5px;
}

.wrap .wrap-img .feature-link-wrap .feature-link-grid.pc a {
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-align: center;
}

.wrap .wrap-img .feature-link-wrap .feature-link-grid.pc a img {
  border-radius: 20px;
}

.wrap .wrap-img .feature-link-wrap .feature-link-grid.pc a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 20;
}

.wrap .wrap-img .row {
  height: 650px;
}

.wrap .wrap-img .row:last-child {
  height: 560px;
}

.wrap .wrap-img .img {
  width: 100%;
  height: 181px;
  margin: 0 auto;
  color: #707070;
  font-size: 80px;
  line-height: 2;
}

.wrap .wrap-img .box1 {
  width: calc(100% - 135px);
  height: 487px;
  border-radius: 10px;
  background-color: #88c1d8;
  position: relative;
  z-index: 1;
}

.wrap .wrap-img .box1.last {
  margin-bottom: 72px;
}

.wrap .wrap-img .box1 h2 {
  margin: 0 15px;
  padding: 15px 0 0;
  border-bottom: 5px solid #fafeff;
  border-radius: 0;
  color: #fafeff;
}

.wrap .wrap-img .box1 .box2 {
  width: 100%;
  height: auto;
  border: 10px solid #88c1d8;
  border-radius: 10px;
  background-color: #88c1d8;
  position: absolute;
  top: 72px;
  left: 135px;
  z-index: 2;
}

.wrap .wrap-img .box1 .box2.tab {
  display: none;
}

/*=====================================================
 @ ~1351px
=====================================================*/
/*=====================================================
 @ ~1024px
=====================================================*/
@media screen and (max-width: 1024px) {
  .wrap .wrap-img .feature-link-wrap {
    padding: 10px;
    border: 5px solid #e69c81;
  }
  .wrap .wrap-img .feature-link-wrap .feature-link-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrap .wrap-img .feature-link-wrap .feature-link-grid.pc {
    display: none;
  }
  .wrap .wrap-img .feature-link-wrap .feature-link-grid.tab {
    display: none;
  }
  .wrap .wrap-img .feature-link-wrap .feature-link-grid .tab {
    display: none;
  }
  .wrap .wrap-img .feature-link-wrap .feature-link-grid.sp {
    width: 100%;
    padding: 10px;
    background-color: #c7e3ee;
  }
  .wrap .wrap-img .feature-link-wrap .feature-link-grid.sp .col-01 {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrap .wrap-img .feature-link-wrap .feature-link-grid.sp .col-02 {
    width: 80%;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .wrap .wrap-img .feature-link-wrap .feature-link-grid.sp .col-01 a,
  .wrap .wrap-img .feature-link-wrap .feature-link-grid.sp .col-02 a {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .wrap .wrap-img .feature-link-wrap .feature-link-grid.sp .col-01 a:hover,
  .wrap .wrap-img .feature-link-wrap .feature-link-grid.sp .col-02 a:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .wrap .wrap-img .feature-link-wrap .feature-link-grid.sp .col-01 a img,
  .wrap .wrap-img .feature-link-wrap .feature-link-grid.sp .col-02 a img {
    border-radius: 20px;
  }
  .wrap .wrap-img .feature-link-wrap .feature-link-grid.sp .col-01 + .col-02 {
    margin-top: 10px;
  }
  .wrap .wrap-img .row {
    height: 670px;
  }
  .wrap .wrap-img .row:last-child {
    height: 660px;
  }
  .wrap .wrap-img .row .box1 {
    width: calc(100% - 121px);
    height: 487px;
  }
  .wrap .wrap-img .row .box1.last {
    margin-bottom: 56px;
  }
  .wrap .wrap-img .row .box1 .box2 {
    width: calc(100% + 14px);
    top: 56px;
    left: 107px;
  }
  .wrap .wrap-img .row .box1 .box2.pc {
    display: none;
  }
  .wrap .wrap-img .row .box1 .box2.tab {
    display: block;
  }
}

/*=====================================================
 @ ~768px
=====================================================*/
@media screen and (max-width: 768px) {
  .img {
    width: 100%;
    height: auto;
    border: 1px solid #444;
    background-color: #fff;
  }

  #topView {
    background-color: #c7e3ee;
  }
  .container {
    width: 90%;
  }
  .wrap {
    border: none;
  }
  .wrap .wrap-img {
    width: 100%;
    margin-top: 25px;
    border: 5px solid #88c1d8;
    background-color: #fafeff;
  }
  .wrap .wrap-img .row {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .wrap .wrap-img .row:last-child {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .wrap .wrap-img .row .box1 {
    width: calc(100% - 20px);
    height: auto;
    margin: 0 auto 30px;
    border: 10px solid #c7e3ee;
    background-color: #c7e3ee;
  }
  .wrap .wrap-img .row .box1.last {
    margin-bottom: 18px;
  }
  .wrap .wrap-img .row .box1 h2 {
    width: 70%;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    height: 80px;
    margin: 0;
    padding: 10px 20px;
    background-color: #c7e3ee;
    border: 5px solid #88c1d8;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 20px;
    left: -30px;
    z-index: 2;
    color: #e69c81;
    font-size: 4.29vw;
    white-space: nowrap;
  }
  .wrap .wrap-img .row .box1 .box2.tab {
    display: none;
  }
}
/*# sourceMappingURL=feature_top.css.map */