@charset "UTF-8";
.flexR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*===================================================
 header
===================================================*/
#header {
  width: 100%;
  background-color: rgba(244, 245, 247, 1);
  position: fixed;
  top: 0;
  z-index: 90;
}

#header .g-navi-wrap {
  width: 100%;
  height: 80px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .g-navi {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-around;
      -ms-flex-pack: space-around;
          justify-content: space-around;
}

#header .g-navi.tab {
  display: none;
}

#header .g-navi-wrap .logo {
  width: 180px;
  height: 70px;
  margin-left: 20px;
  background: url(../img/logo/main_logo.svg) left bottom no-repeat;
}

#header .g-navi-wrap .logo img {
  width: 100%;
}

#header .g-navi .g-navi-items {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 200px;
  color: #fafeff;
  white-space: nowrap;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #e69c81;
}

#header .g-navi .g-navi-items .flexR {
  width: 100%;
  height: 60px;
  margin: 5px 0 0 20px;
  border: 10px solid;
  border-image-width: 5px;
  -o-border-image: url(../img/index/gnav/pc/nav_btn01.svg) 15 stretch;
     border-image: url(../img/index/gnav/pc/nav_btn01.svg) 15 stretch;
  background: url(../img/index/gnav/pc/nav_btnbg01.svg) 0 0 no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: #e69c81;
  z-index: 10;
}

#header .g-navi .g-navi-items .flexR i,
#header .g-navi .g-navi-items .flexR p {
  position: relative;
  z-index: 30;
}

#header .g-navi .g-navi-items .flexR .material-symbols-outlined {
  font-size: 32px;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

#header .g-navi .g-navi-items .flexR:hover {
  border: 10px solid;
  border-image-width: 5px;
  -o-border-image: url(../img/index/gnav/pc/nav_btn02.svg) 15 stretch;
     border-image: url(../img/index/gnav/pc/nav_btn02.svg) 15 stretch;
  background: url(../img/index/gnav/pc/nav_btnbg02.svg) 0 0 no-repeat;
  color: #fff;
}

@-webkit-keyframes icon {
  0% {
    -webkit-transform: scale(0) translateX(-50%);
            transform: scale(0) translateX(-50%);
    top: -200px;
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0) translateX(-50%);
            transform: scale(0) translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
    top: 50px;
    opacity: 1;
  }
}

@keyframes icon {
  0% {
    -webkit-transform: scale(0) translateX(-50%);
            transform: scale(0) translateX(-50%);
    top: -200px;
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0) translateX(-50%);
            transform: scale(0) translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
    top: 50px;
    opacity: 1;
  }
}

#header .g-navi .g-navi-items.active .navi-mark {
  -webkit-animation: icon 0.5s forwards;
          animation: icon 0.5s forwards;
}

#header .g-navi .g-navi-items .navi-mark {
  width: 150px;
  position: absolute;
  left: 50%;
  -webkit-transform: scale(0) translateX(-50%);
          transform: scale(0) translateX(-50%);
  -webkit-transition: 1 ease;
  transition: 1 ease;
}

.font-button {
  width: 80px;
  border: 2px solid #444;
  border-radius: 10px;
  position: absolute;
  top: 7.5px;
  right: 30px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  overflow: hidden;
}

.font-button #normal,
.font-button #big {
  width: 50%;
  height: 40px;
  margin-right: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.font-button #big {
  margin-right: 0;
  background-color: #fafeff;
}

.font-button #normal {
  background-color: #88c1d8;
}

/*=====================================================
 @ ～1350px
=====================================================*/
@media screen and (max-width: 1350px) {
  #header .g-navi {
  width: 90%;
  -webkit-box-pack: space-around;
      -ms-flex-pack: space-around;
          justify-content: space-around;
  }
}

/*=====================================================
   @ ～1024px
  =====================================================*/
@media screen and (max-width: 1024px) {
  #header {
    height: 90px;
  }
  #header .g-navi-wrap {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5px 0;
  }
  #header .g-navi.pc {
    display: none;
  }
  #header .g-navi.tab {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header .g-navi.tab .navi-mark {
    width: 120px;
    height: 80px;
  }
  #header .g-navi div a {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  #header .g-navi div a .material-symbols-outlined {
    font-size: 28px;
  }
}

/*=====================================================
   @ ～768px
  =====================================================*/
@media screen and (max-width: 768px) {
  hr {
    border: 1px solid #444;
  }
  h1 {
    margin: 0;
  }
  #header {
    height: 100px;
    background-color: rgba(244, 245, 247, 1);
    position: fixed !important;
    top: 0;
  }
  #header.active {
    background-color: rgba(244, 245, 247, 1);
  }
  #header .g-navi.sp {
    height: inherit;
    display: block;
    margin: 0;
  }
  #header .g-navi.sp .logo img {
    width: 150px;
    height: auto;
    margin: 20px 0 0 10px;
  }
  #header .g-navi-wrap {
    width: 100%;
    height: 120px;
    display: none;
  }
  #header .g-navi-wrap .g-navi.pc {
    display: none;
  }
  #header .g-navi-wrap .g-navi.tab {
    display: none;
  }
  #header .font-button {
    top: 6px;
    right: 6px;
    display: none;
  }
  #header .hamburger {
    position: absolute;
    top: 50%;
    right: 40px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  #header .hamburger .hamburger-wrap {
    width: 50px;
    height: 50px;
    position: relative;
  }
  #header .hamburger .hamburger-wrap .burger {
    width: 50px;
    height: 3px;
    background-color: #444;
    position: absolute;
    left: 0;
    top: 20px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #header .hamburger .hamburger-wrap .burger:first-child {
    top: 0px;
  }
  #header .hamburger .hamburger-wrap .burger:first-child.active {
    top: 20px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  #header .hamburger .hamburger-wrap .burger:nth-child(2).active {
    opacity: 0;
  }
  #header .hamburger .hamburger-wrap .burger:last-child {
    top: 40px;
  }
  #header .hamburger .hamburger-wrap .burger:last-child.active {
    top: 20px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .site-map {
    width: 100%;
    background-color: rgba(232, 243, 248, 0.95);
    position: fixed;
    top: 100px;
  }
  .site-map .container {
    height: 100vh;
    margin: 0;
    background-color: transparent;
    display: none;
  }
  .site-map .container .site-map-title {
    margin: 20px auto;
  }
  .site-map .container .wrap-01,
  .site-map .container .wrap-02 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1;
        grid-template-rows: 1;
        grid-template-areas: "item1 item2 item3", "item4 item5 item6";
    grid-gap: 5px;
  }
  .site-map .container .wrap-01 .material-symbols-rounded,
  .site-map .container .wrap-02 .material-symbols-rounded {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
  .site-map .container .wrap-01 .item,
  .site-map .container .wrap-02 .item {
    width: 100%;
    height: 110px;
    margin: 10px auto;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #444;
    font-size: 20px;
    text-decoration: none;
  }
  .site-map .container .wrap-01 .item .flexC,
  .site-map .container .wrap-02 .item .flexC {
    width: 90%;
    word-break: normal;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-map .container .wrap-01 .item .flexC .icon,
  .site-map .container .wrap-02 .item .flexC .icon {
    width: 85px;
    height: 85px;
    margin-bottom: 10px;
    font-size: 84px;
  }
  .site-map .container .wrap-01 .item .flexC .item-desc,
  .site-map .container .wrap-02 .item .flexC .item-desc {
    word-break: break-all;
  }
  .site-map .container .wrap-01 .item::before, .site-map .container .wrap-01 .item::after,
  .site-map .container .wrap-02 .item::before,
  .site-map .container .wrap-02 .item::after {
    content: "";
    position: absolute;
  }
  .site-map .container .wrap-01 .item1::before,
  .site-map .container .wrap-01 .item2::before,
  .site-map .container .wrap-01 .item3::before,
  .site-map .container .wrap-02 .item1::before,
  .site-map .container .wrap-02 .item2::before,
  .site-map .container .wrap-02 .item3::before {
    width: 80%;
    bottom: -14px;
    border-bottom: 3px solid #fafeff;
  }
  .site-map .container .wrap-01 .item1::after,
  .site-map .container .wrap-01 .item2::after,
  .site-map .container .wrap-01 .item4::after,
  .site-map .container .wrap-02 .item1::after,
  .site-map .container .wrap-02 .item2::after,
  .site-map .container .wrap-02 .item4::after {
    height: 80%;
    top: 15px;
    right: -4px;
    border-right: 3px solid #fafeff;
  }
  .site-map .container .wrap-01 {
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(3, 1fr);
  }
  .site-map .container .wrap-02 {
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(2, 1fr);
  }
  .site-map .container .wrap-02 .item .flexC {
    width: 60%;
  }
  .site-map .container .sns-wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: url(../img/index/gnav/sp/manu_sns_bg.svg) 0 0 no-repeat;
    background-size: cover;
  }
  .site-map .container .sns-wrap .flexR {
    padding: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .site-map .container .sns-wrap .flexR i {
    color: #e69c81;
    font-size: 10vw;
  }
  .site-map .container p {
    padding: 40px 0;
  }
}
/*# sourceMappingURL=header.css.map */