@charset "UTF-8";
.flexR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grid {
  display: -ms-grid;
  display: grid;
}

body {
  background-color: #fafeff;
}

h1 {
  margin: 0;
  position: relative;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

h1 p {
  position: absolute;
  left: 10px;
  top: 20px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

h1 p span {
  color: #e69c81;
  text-shadow: 2px 2px 2px #3d82ca, -2px -2px 2px #88c1d8;
  font-family: 'Limelight', cursive;
  font-size: 50px;
  font-weight: bold;
}

.wrap {
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 60%;
  min-width: 1200px;
  padding-bottom: 60px;
  background-color: #c7e3ee;
}

.space {
  height: 120px;
  border: 1px solid #c7e3ee;
}

/******************************************************
 ～@1920px
******************************************************/
h2 {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px auto;
  position: relative;
}

h2 span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #e69c81;
  font-weight: bold;
}

#keyVisual {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #c7e3ee;
}

#top-search .grid-search {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 60px;
}

#pickup .grid-pickup {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1;
      grid-template-rows: 1;
  grid-column-gap: 50px;
}

#sns {
  margin-bottom: 90px;
}

#sns .grid-sns {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
}

#sns .grid-sns .items {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

#sns .grid-sns .items img {
  border: 5px solid #e69c81;
}

#sns .btn {
  width: 400px;
}

.grid-search,
.grid-pickup,
.grid-sns {
  margin-top: 120px;
}

.grid-search .items,
.grid-pickup .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-search .items img,
.grid-pickup .items img {
  width: 250px;
  height: auto;
  border: 5px solid #e69c81;
  border-radius: 50%;
}

.grid-search .items p,
.grid-pickup .items p {
  margin-top: 10px;
  font-size: 24px;
  white-space: nowrap;
}

.grid-search .items.sp,
.grid-pickup .items.sp {
  display: none;
}

.grid-search + .flexR,
.grid-pickup + .flexR {
  margin-top: 60px;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 60px auto 0;
  position: relative;
  display: block;
  color: #e69c81;
  font-size: 24px;
  text-decoration: none;
}

.btn img {
  width: 100%;
}

.btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
}

/******************************************************
 ～@1350px
******************************************************/
@media screen and (max-width: 1350px) {
  .container {
    width: 50%;
    min-width: 896px;
  }
  .container .grid-search .flexR .items img,
  .container .grid-pickup .flexR .items img {
    width: 200px;
    height: auto;
  }
}

/******************************************************
 ～@1024px
******************************************************/
@media screen and (max-width: 1024px) {
  .container {
    width: 75%;
    min-width: 720px;
  }
  .container .grid-search .flexR .items img,
  .container .grid-pickup .flexR .items img {
    width: 150px;
  }
}

/******************************************************
 ～@768px
******************************************************/
@media screen and (max-width: 768px) {
  h1 {
    width: 100%;
    height: 800px;
    margin-top: 120px;
  }
  h1 span {
    top: 20px;
    left: 0;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  h2 {
    width: 100%;
    margin-top: 0;
    font-size: 3.43vw;
  }
  h2 img {
    min-width: 486px;
  }
  .container {
    width: 90%;
    min-width: 486px;
    padding-bottom: 80px;
    background-color: #c7e3ee;
  }
  #keyVisual {
    height: auto;
  }
  #top-search,
  #pickup,
  #sns {
    margin-top: 0;
    padding-bottom: 0;
  }
  #top-search .grid-search {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  #pickup .grid-pickup {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  #sns {
    margin-bottom: 90px;
  }
  #sns .grid-sns {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
  }
  #sns .btn {
    width: 400px;
  }
  #top-search,
  #pickup,
  #sns {
    background-color: #fafeff;
  }
  .grid-search,
  .grid-pickup,
  .grid-sns {
    margin-top: 0;
    padding-top: 40px;
  }
  .grid-search,
  .grid-pickup {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }
  .grid-search .items,
  .grid-pickup .items {
    position: relative;
  }
  .grid-search .items p,
  .grid-pickup .items p {
    padding: 10px 20px;
    border: 2px solid #fafeff;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fafeff;
    font-size: 3.43vw;
    text-shadow: 2px 2px 2px #444;
    font-weight: bold;
  }
  .grid-search .items.sp,
  .grid-pickup .items.sp {
    display: block;
  }
  .btn {
    border-radius: 50px;
  }
}
/*# sourceMappingURL=index.css.map */