@charset "UTF-8";
.flexR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grid {
  display: -ms-grid;
  display: grid;
}

body {
  background-color: rgba(199, 227, 238, 0.3);
}

.wrap {
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 60%;
  min-width: 1200px;
  padding-bottom: 60px;
  background-color: #fafeff;
}

.space {
  height: 120px;
  border: 1px solid #c7e3ee;
}

a {
  text-decoration: none;
}
/******************************************************
 ～@1920px
******************************************************/
 h2 {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px auto;
  background-color: transparent;
  position: relative;
}

 h2 span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #e69c81;
  font-weight: bold;
}

#keyVisual {
  width: 100%;
  height: auto;
  position: relative;
}

#keyVisual .keyVisual {
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}

#keyVisual .keyVisual .keyVisual-wrap {
  height: 100vh;
  background: url(../img/index/key_visual_pc_bg.jpg) 0 0 no-repeat;
  background-size: cover;
  position: relative;
}

#keyVisual .keyVisual .keyVisual-wrap .keyVisual-bg {
  width: 100%;
}

#keyVisual .keyVisual .keyVisual-wrap .keyVisual-map {
  width: 60%;
  height:80vh;
  position: absolute;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#keyVisual .keyVisual .pc .catch-copy {
  width: 25%;
  height: 20vh;
  background: url(../img/index/catchcopy.png) 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  left: 10px;
  top: 150px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

#keyVisual .search-links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}



#keyVisual .search-links .form input {
	display: none;
}
#keyVisual .search-links .pc {
  height: fit-content;
}
#keyVisual .pc .search-links a {
  margin: 5px 0;
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px solid rgba(136, 193, 216, 0.65);
  border-radius: 30px;
  color: #444;
  font-size: 2vw;
}

#keyVisual .logo {
  width: 25%;
  height: 20vh;
  background: url(../img/logo/main_logo.svg) left bottom no-repeat;
  position: absolute;
  bottom: 20px;
  left: 20px;
  vertical-align: bottom;
}

#keyVisual .logo img {
  width: 100%;
}

#top-search .grid-search {
  -ms-grid-columns: (1fr);
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr);
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 60px;
}

#pickup .grid-pickup {
  -ms-grid-columns: (1fr);
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1;
      grid-template-rows: 1;
  grid-column-gap: 50px;
}

#sns .grid-sns {
  -ms-grid-columns: (1fr);
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr);
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
}

#sns .grid-sns .items {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

#sns .grid-sns .items img {
  border: 5px solid #e69c81;
}

#sns .btn {
  width: 400px;
}

.grid-search,
.grid-pickup,
.grid-sns {
  margin-top: 120px;
}

.grid-search .items,
.grid-pickup .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-search .items img,
.grid-pickup .items img {
  width: 250px;
  height: auto;
  border: 5px solid;
  border-color: rgba(230, 156, 129, 0.7);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  border-radius: 50%;
}

.grid-search .items img:hover,
.grid-pickup .items img:hover {
  -webkit-transform: scale(1.5) translateY(-10%);
          transform: scale(1.5) translateY(-10%);
}

.grid-search .items p,
.grid-pickup .items p {
  margin-top: 10px;
  color: #444;
  font-size: 24px;
  white-space: nowrap;
}

.grid-search .items.sp,
.grid-pickup .items.sp {
  display: none;
}

.grid-search + .flexR,
.grid-pickup + .flexR {
  margin-top: 60px;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 60px auto 0;
  position: relative;
  display: block;
  color: #e69c81;
  font-size: 24px;
  text-decoration: none;
}

.btn img {
  width: 100%;
}

.btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
}

/******************************************************
 ～@1350px
******************************************************/
@media screen and (max-width: 1350px) {
  .container {
    width: 50%;
    min-width: 896px;
  }
  .container .grid-search .flexR .items img,
  .container .grid-pickup .flexR .items img {
    width: 200px;
    height: auto;
  }
  #keyVisual .keyVisual .keyVisual-wrap {
    position: relative;
  }

  #keyVisual .keyVisual .keyVisual-wrap .keyVisual-map {
    bottom: 3%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  #keyVisual .logo {
  width: 30%;
  }

}

/******************************************************
 ～@1024px
******************************************************/
@media screen and (max-width: 1024px) {
  .container {
    width: 75%;
    min-width: 720px;
  }
  .container .grid-search .flexR .items img,
  .container .grid-pickup .flexR .items img {
    width: 150px;
  }
}

/******************************************************
 ～@768px
******************************************************/
@media screen and (max-width: 768px) {
  #keyVisual h1 {
    width: 100%;
    height: auto;
  }
  #keyVisual h1 span {
    top: 20px;
    left: 0;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  #keyVisual h2 {
    width: 100%;
    margin-top: 0;
    font-size: 3.43vw;
  }
  #keyVisual h2 img {
    min-width: 486px;
  }
  .container {
    width: 90%;
    min-width: 486px;
    padding-bottom: 80px;
    background-color: #c7e3ee;
  }
  #keyVisual {
    height: auto;
  }

  #keyVisual .keyVisual .sp {
    position: relative;
  }

  #keyVisual .keyVisual .sp .keyVisual-wrap {
    width: 100%;
    height: 100vw;
  }

  #keyVisual .keyVisual .sp .keyVisual-wrap .keyVisual-bg {
    height: auto;
  }

  #keyVisual .keyVisual .sp .keyVisual-wrap .keyVisual-map {
    width: 80%;
    height: auto;
    left: 55%;
    top: 52%;
    transform: translate(-50%, -50%);
  }

  #keyVisual .keyVisual .sp .catch-copy {
	width: 40%;
    height: 20vh;
    background: url(../img/index/catchcopy.png) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    top: 140px;
    left: 20px
  }

  #keyVisual .search-links {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 20px;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  #keyVisual .sp .search-links a {
  	width: 155px;
  	height: fit-content;
	margin: 5px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
  	font-size: 3vw;
  	text-align: center;
  }

  #keyVisual .search-links .form {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 15px 0;
  }
  #keyVisual .search-links .form label {
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: bold;
  }

  #top-search,
  #pickup,
  #sns {
    margin-top: 0;
    padding-bottom: 0;
  }
  #top-search .grid-search {
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr);
        grid-template-rows: repeat(3, 1fr);
  }
  #pickup .grid-pickup {
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr);
        grid-template-rows: repeat(2, 1fr);
  }
  #sns .grid-sns {
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr);
        grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
  }
  #sns .btn {
    width: 400px;
  }
  #top-search,
  #pickup,
  #sns {
    background-color: #fafeff;
  }
  .grid-search,
  .grid-pickup,
  .grid-sns {
    margin-top: 0;
    padding-top: 40px;
  }
  .grid-search,
  .grid-pickup {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }
  .grid-search .items,
  .grid-pickup .items {
    position: relative;
  }
  .grid-search .items p,
  .grid-pickup .items p {
    padding: 10px 20px;
    border: 2px solid #fafeff;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fafeff;
    font-size: 3.43vw;
    text-shadow: 2px 2px 2px #444;
    font-weight: bold;
  }
  .grid-search .items.sp,
  .grid-pickup .items.sp {
    display: block;
  }
  .btn {
    border-radius: 50px;
  }
}
/*# sourceMappingURL=index.css.map */